
<table class="table table-hover table-responsive-md bg-white rounded"
       id="myDataTable"
       data-search="true"
       data-pagination="true"
       data-unique-id="CustomerID">
    <thead>
        <tr>
            <th data-field="CustomerID">Id</th>
            <th data-field="Name">Name</th>
            <th data-field="Gender">Gender</th>
            <th data-field="Phone">Phone</th>
            <th data-field="Email">Email</th>
            <th data-field="Address">Address</th>
            <th data-field="CustomerID" data-formatter="formatterDel" data-align="center">Option</th>
        </tr>
    </thead>
</table>

